<h1>Formulario de Cadastro de Usuarios</h1>

<form action = '/cadastrar-usuario' method="POST">
    <div>
        <label for = "nome">Nome:</label>
        <input type = "text" name = "nome" id = "nome" required>
    </div>
    <div>
        <label for = "email">Email:</label>
        <input type = "email" name = "email" id = "email" required>
    </div>
    <div>
        <label for = "idade">Idade:</label>
        <input type = "number" name = "idade" id = "idade" required>
    </div>
    
    <button type = "submit">Cadastrar</button>

</form>