<h1>Criar vídeo</h1>

<form action="/criar" method="POST">
    <input name="titulo" placeholder="Título">
    <input name="descricao" placeholder="Descrição">
    <input name="url" placeholder="URL do vídeo">

    <button type="submit">Salvar</button>
</form>